In [21]:
import pandas as pd

In [28]:
train_file = pd.read_csv('iot-datasets/train.csv')
test_file = pd.read_csv('iot-datasets/test.csv')
severity_type = pd.read_csv('iot-datasets/severity_type.csv')
event_type = pd.read_csv('iot-datasets/event_type.csv')

In [37]:
train_file.head()

      id      location  fault_severity
0  14121  location 118               1
1   9320   location 91               0
2  14394  location 152               1
3   8218  location 931               1
4  14804  location 120               0

In [38]:
severity_type.head()

     id    severity_type
0  6597  severity_type 2
1  8011  severity_type 2
2  2597  severity_type 2
3  5022  severity_type 1
4  6852  severity_type 1

In [34]:
def check_unique_ids(dataset):
    unique_ids = dataset['id'].nunique()
    repeated_ids = len(dataset['id']) - unique_ids
    print(f"Number of unique ids: {unique_ids}")
    print(f"Number of ids repeated more than once: {repeated_ids}")
    print("======================")
print("Train dataset")
check_unique_ids(train_file)
print("Test dataset")
check_unique_ids(test_file)
print("severity_type dataset")
check_unique_ids(severity_type)
print("event_type dataset")
check_unique_ids(event_type)

Train dataset
Number of unique ids: 7381
Number of ids repeated more than once: 0
======================
Test dataset
Number of unique ids: 11171
Number of ids repeated more than once: 0
======================
severity_type dataset
Number of unique ids: 18552
Number of ids repeated more than once: 0
======================
event_type dataset
Number of unique ids: 18552
Number of ids repeated more than once: 12618
======================

In [45]:
def check_cardinality(dataset1, dataset2):
    count1 = dataset1['id'].value_counts()
    count2 = dataset2['id'].value_counts()
    one_to_one = len(count1[count1 == 1].index.intersection(count2[count2 == 1].index))
    one_to_many = len(count1[count1 > 1].index.intersection(count2[count2 == 1].index))
    many_to_many = len(count1[count1 > 1].index.intersection(count2[count2 > 1].index))
    return one_to_one, one_to_many, many_to_many


check_cardinality(train_file,severity_type)
check_cardinality(test_file,severity_type)
check_cardinality(train_file,severity_type)

(7381, 0, 0)