In [67]:
import pandas as pd

In [68]:
train_file = pd.read_csv('iot-datasets/train.csv')
test_file = pd.read_csv('iot-datasets/test.csv')
severity_type = pd.read_csv('iot-datasets/severity_type.csv')
event_type = pd.read_csv('iot-datasets/event_type.csv')
log_feature = pd.read_csv('iot-datasets/log_feature.csv')
resource_type = pd.read_csv('iot-datasets/resource_type.csv')

In [69]:
dataset_ = {
    'train': train_file,
    'test': test_file,
    'severity_type':severity_type,
    'event_type':event_type,
    'log_feature':log_feature,
    'resource_type':resource_type
}

In [70]:
dataset_['train'].head()

      id      location  fault_severity
0  14121  location 118               1
1   9320   location 91               0
2  14394  location 152               1
3   8218  location 931               1
4  14804  location 120               0

In [71]:
dataset_['severity_type'].head()

     id    severity_type
0  6597  severity_type 2
1  8011  severity_type 2
2  2597  severity_type 2
3  5022  severity_type 1
4  6852  severity_type 1

In [72]:
def check_unique_ids(dataset_name):
    dataset = dataset_[dataset_name]
    unique_ids = dataset['id'].nunique()
    repeated_ids = len(dataset['id']) - unique_ids
    print(dataset_name)
    print(f"Number of unique ids: {unique_ids}")
    print(f"Number of ids repeated more than once: {repeated_ids}")
    print("======================")
check_unique_ids('train')
check_unique_ids('test')
check_unique_ids('severity_type')
check_unique_ids('event_type')
check_unique_ids('resource_type')
check_unique_ids('log_feature')

train
Number of unique ids: 7381
Number of ids repeated more than once: 0
======================
test
Number of unique ids: 11171
Number of ids repeated more than once: 0
======================
severity_type
Number of unique ids: 18552
Number of ids repeated more than once: 0
======================
event_type
Number of unique ids: 18552
Number of ids repeated more than once: 12618
======================
resource_type
Number of unique ids: 18552
Number of ids repeated more than once: 2524
======================
log_feature
Number of unique ids: 18552
Number of ids repeated more than once: 40119
======================

In [78]:
def check_cardinality(name1, name2):
    count1 = dataset_[name1]['id'].value_counts()
    count2 = dataset_[name2]['id'].value_counts()
    one_to_one = len(count1[count1 == 1].index.intersection(count2[count2 == 1].index))
    one_to_many = len(count1[count1 == 1].index.intersection(count2[count2 > 1].index))
    many_to_many = len(count1[count1 > 1].index.intersection(count2[count2 > 1].index))
    print(f"{name1} VS {name2}")
    print(f"one to one: {one_to_one}, one to many: {one_to_many}, many to many {many_to_many}")
    print("*")


check_cardinality('train','severity_type')
check_cardinality('train', 'event_type')
check_cardinality('train','resource_type')
check_cardinality('train','log_feature')
print("======================")

check_cardinality('test','severity_type')
check_cardinality('test','event_type')
check_cardinality('test','resource_type')
check_cardinality('test','log_feature')

train VS severity_type
one to one: 7381, one to many: 0, many to many 0
*
train VS event_type
one to one: 3176, one to many: 4205, many to many 0
*
train VS resource_type
one to one: 6503, one to many: 878, many to many 0
*
train VS log_feature
one to one: 985, one to many: 6396, many to many 0
*
======================
test VS severity_type
one to one: 11171, one to many: 0, many to many 0
*
test VS event_type
one to one: 4839, one to many: 6332, many to many 0
*
test VS resource_type
one to one: 9918, one to many: 1253, many to many 0
*
test VS log_feature
one to one: 1505, one to many: 9666, many to many 0
*