In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
filename = os.path.join(os.getcwd(), "iot-datasets", "log_feature.csv")
log_df = pd.read_csv(filename, header=0)

filename = os.path.join(os.getcwd(), "iot-datasets", "train.csv")
train_df = pd.read_csv(filename, header=0)

In [4]:
log_df.head()

     id  log_feature  volume
0  6597   feature 68       6
1  8011   feature 68       7
2  2597   feature 68       1
3  5022  feature 172       2
4  5022   feature 56       1

In [5]:
train_df.head()

      id      location  fault_severity
0  14121  location 118               1
1   9320   location 91               0
2  14394  location 152               1
3   8218  location 931               1
4  14804  location 120               0

In [7]:
train_id = train_df['id']
print(train_id)

0       14121
1        9320
2       14394
3        8218
4       14804
        ...
7376      870
7377    18068
7378    14111
7379    15189
7380    17067
Name: id, Length: 7381, dtype: int64

In [10]:
train_df['Label'] = log_df['id'].apply(lambda x: 1 if log_df['id'].value_counts()[x] > 1 and x in train_id else 0)
train_df.head()

      id      location  fault_severity  Label
0  14121  location 118               1      0
1   9320   location 91               0      0
2  14394  location 152               1      0
3   8218  location 931               1      1
4  14804  location 120               0      1

In [11]:
print(np.size(train_df['Label']))

7381